/* Enter your custom styles here */
.boldLabel {
    font-weight: bold;
    background: #007c91 !important;
    border-bottom: 1px solid #e5e5e5;
}

.noGreyCombo {
    opacity: 1 !important;
}

.noGreyCombo .sapMInputBaseInner {
    color: #000 !important;
}

.readOnlyCombo {
    pointer-events: none;
}

/* Horizontal scroll */
.sapMITBContainerContent {
    overflow-x: auto !important;
}

/* Table min width */
[id*="View1--tablesmall"],
[id*="View1--tablelarge"],
[id*="View1--tableISUCA"],
[id*="View1--table"],
[id*="View1--table11"]  {
    min-width: max-content;
}

/* Input field fixed width */
[id*="View1--tablesmall"] .sapMInputBase,
[id*="View1--tablelarge"] .sapMInputBase,
[id*="View1--tableISUCA"] .sapMInputBase,
[id*="View1--table"] .sapMInputBase,
[id*="View1--table11"] .sapMInputBase {
    /* width: 7rem !important; */
    width: auto !important;
    min-width: fit-content !important;
}
